<p id="notice"><%= notice %></p>

<p>
  <b>Companyname:</b>
  <%= @shipper.companyName %>
</p>

<p>
  <b>Phone:</b>
  <%= @shipper.phone %>
</p>


<%= link_to 'Edit', edit_shipper_path(@shipper) %> |
<%= link_to 'Back', shippers_path %>
